{% import "_includes/forms" as forms %}

{% block content %}
    <div class="commerceAusPostLookupSettings">
        <p><small>Version: {{ version }}</small></p>
        <p>
            {{ description }}
        </p>
        <hr>
        <div>

            <h4>Debugging?</h4>
            {{
                forms.lightswitch({
                    onLabel:    "On",
                    offLabel:   "Off",
                    name:       "debug",
                    on:         settings.debug,
                })
            }}
            <p>Makes <code>LogLevel::Profile</code> log messages get logged.</p> 
            <p><code>LogLevel::Warning</code> and <code>LogLevel::Error</code> are always logged.</p>
            <hr>
            {{
                forms.textField({
                    id:             "apiKey",
                    name:           "apiKey",
                    label:          "Aus Post Developer API Key"|t,
                    placeholder:    "4740bf77-f4bf-42a5-ad3d-c2ce7f06d3d2",
                    instructions:   "Your Australia Post API key - get one at https://developers.auspost.com.au/ - you can do testing with 4740bf77-f4bf-42a5-ad3d-c2ce7f06d3d2 but do not use that on a live site!!"|t,
                    value:          settings.apiKey,
                    errors:         "",
                })
            }}

            {{
                forms.textField({
                    id:             "urlPrefix",
                    name:           "urlPrefix",
                    label:          "Aus Post URL Prefix"|t,
                    placeholder:    "",
                    instructions:   "URL for the API your using - Aus Post domestic service is at auspost.com.au, so you'd normally use that (don't enter a full url here)."|t,
                    value:          settings.urlPrefix,
                    errors:         "",
                })
            }}


        </div>
{% endblock %}
